<% provide(:title, 'All users') %>
  <h1>All users</h1>
  <ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for(user, size: 52) %>
      
      	<b><%= link_to user.name, user %> </b>
      	<% if user == current_user %>
      		(you) | <%= link_to "Edit Profile", edit_user_path(user) %>
      	<% end %>
      	</li>
    <% end %>
  </ul>
